In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [ ]:
#Univariate Analysis -we can process in a single colum

In [4]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columName in (dataset.columns):
            #print(columName)
            if (dataset[columName].dtype=='O'):
                #print("qual")
                qual.append(columName)
            else:
                #print("quan")
                quan.append(columName)
    return quan,qual

In [5]:
quan,qual=quanQual(dataset)

In [6]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

#Central Tendency

In [ ]:
dataset["ssc_p"].mean()

In [ ]:
dataset["ssc_p"].median()

In [ ]:
dataset["ssc_p"].mode()[0]

In [ ]:
dataset.describe ()

In [ ]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"], columns=quan)

In [ ]:
descriptive

In [ ]:
descriptive["salary"]["Median"]=0

In [ ]:
descriptive["hsc_p"]["Mode"]=0

In [ ]:
descriptive

In [ ]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"], columns=quan)
for columName in quan:
    descriptive[columName]["Mean"]=dataset[columName].mean()
    descriptive[columName]["Median"]=dataset[columName].median()
    descriptive[columName]["Mode"]=dataset[columName].mode()[0]

In [ ]:
descriptive

In [ ]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"], columns=quan)
for columName in quan:
    descriptive[columName]["Mean"]=dataset[columName].mean()
    descriptive[columName]["Median"]=dataset[columName].median()
    descriptive[columName]["Mode"]=dataset[columName].mode()[0]

In [ ]:
dataset.describe()

In [7]:
import numpy as np

In [ ]:
#The variance is the average of the squares different from mean,we std deviation =square root of variance measure in mm

In [ ]:
dataset["ssc_p"].var()

In [ ]:
dataset["ssc_p"].std()

In [15]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%", 
                                "IQR","1.5rule","Lesser","Greater","Min","Max","Kurtosis","Skew","Var","Std"], columns=quan)
    for columName in quan:
        descriptive[columName]["Mean"]=dataset[columName].mean()
        descriptive[columName]["Median"]=dataset[columName].median()
        descriptive[columName]["Mode"]=dataset[columName].mode()[0]
        descriptive[columName]["Q1:25%"]=dataset.describe ()[columName]["25%"]
        descriptive[columName]["Q2:50%"]=dataset.describe ()[columName]["50%"]
        descriptive[columName]["Q3:75%"]=dataset.describe ()[columName]["75%"]
        descriptive[columName]["99%"]=np.percentile(dataset[columName],99)
        descriptive[columName]["Q4:100%"]=dataset.describe ()[columName]["max"]
        descriptive[columName]["IQR"]=descriptive[columName]["Q3:75%"]-descriptive[columName]["Q1:25%"]
        descriptive[columName]["1.5rule"]=1.5*descriptive[columName]["IQR"]
        descriptive[columName]["Lesser"]=descriptive[columName]["Q1:25%"]-descriptive[columName]["1.5rule"]
        descriptive[columName]["Greater"]=descriptive[columName]["Q3:75%"]+descriptive[columName]["1.5rule"]
        descriptive[columName]["Min"]=dataset[columName].min()
        descriptive[columName]["Max"]=dataset[columName].max()
        descriptive[columName]["Kurtosis"]=dataset[columName].kurtosis()
        descriptive[columName]["Skew"]=dataset[columName].skew() 
        descriptive[columName]["Var"]=dataset[columName].var()
        descriptive[columName]["Std"]=dataset[columName].std()
        
    return descriptive

In [16]:
Univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108,67.3034,66.3332,66.3702,72.1006,62.2782,288655
Median,108,67,65,66,71,62,265000
Mode,1,62,63,65,60,56.7,300000
Q1:25%,54.5,60.6,60.9,61,60,57.945,240000
Q2:50%,108,67,65,66,71,62,265000
Q3:75%,161.5,75.7,73,72,83.5,66.255,300000
99%,212.86,87,91.86,83.86,97,76.1142,NaN
Q4:100%,215,89.4,97.7,91,98,77.89,940000
IQR,107,15.1,12.1,11,23.5,8.31,60000
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000
Lesser,-106,37.95,42.75,44.5,24.75,45.48,150000
Greater,322,98.35,91.15,88.5,118.75,78.72,390000
Min,1,40.89,37,50,50,51.21,200000
Max,215,89.4,97.7,91,98,77.89,940000
Kurtosis,-1.2,-0.60751,0.450765,0.0521433,-1.08858,-0.470723,18.5443
Skew,0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.56975
Var,3870,117.228,118.756,54.1511,176.251,34.0284,8.7343e+09
Std,62.2093,10.8272,10.8975,7.35874,13.276,5.83338,93457.5